.header {
    background-color: #b98d13;
    height: 127px;
    width: fit-content;
}

.main {
    background-color: #66ca62;
    height: fit-content;
    width: fit-content;
    padding: 0px;
    margin: 0px;
}

.footer {
    background-color: #95d3a9;
    height: 127px;
    width: fit-content;
}

.text-header-logo {
    width: 168px;
    font-size: 35px;
    padding: 35px;
}

.main-text{
    font-family: "Gothic Mideum";
    font-size: 15px;
    padding: 15px;
}

body {
    font-family: Arial;
}

.header-list{
    float: right;
}

.header-content{
    font-size: 20px;
    padding: 10px;
}

li {
    list-style: none;
}
